.id{
    
    display: inline-block;
    align-content: center;
    position: relative;
    width: 200px;
    height: 100px;
    margin: auto;

    
}
.id2{
    display: inline-block;
}
.a1{
    align-items: center;
    align-self: center;
    background-image: image();
    justify-content: center;
}
q{
    border: 5px outset yellow;
}
w{
    color: bisque;
}
.bt1{
    
    /* display: inline-block; */
    align-items: center;
    border-radius: 100px;
    width: 10px;
    height: 20px;
    position: static;
    padding-right: 50px;
    text-align: center;
    text-decoration:dotted;
}
body{
    position: relative;
}
.fie1{
    background-color: aqua;
}
.head{
    border: 2px outset rebeccapurple;
}
#mail{
    padding-right: 50px;
}
#phn{
    padding-right: 50px;
}
#fname{
    padding-right: 50px;
}
#pass{
    padding-right: 50px;
}
#cnf{
    padding-right: 50px;
}